p {
  font-family:"teletext";
  color:white;
  
  
}
@font-face {
  font-family:teletext;
  src: url('/fonts/Teletext50.otf');
}
@font-face {
  font-family: teletext-excond;
  src: url('/fonts/Teletext50-extracondensed.otf');
}
@font-face {
  font-family: teletext-cond;
  src: url('/fonts/Teletext50-condensed.otf');
}
@font-face {
  font-family: teletext-semicond;
  src: url('/fonts/Teletext50-semicondensed.otf');
}
@font-face {
  font-family: teletext-wide;
  src: url('/fonts/Teletext50-extended.otf');
}
@font-face {
  font-family:teletext1;
  src: url('/fonts/MODE7GX0.TTF');
}
@font-face {
  font-family: teletext2;
  src: url('/fonts/MODE7GX1.TTF');
}
@font-face {
  font-family: teletext3;
  src: url('/fonts/MODE7GX2.TTF');
}
@font-face {
  font-family: teletext4;
  src: url('/fonts/MODE7GX3.TTF');
}
@font-face {
  font-family: teletext5;
  src: url('/fonts/MODE7GX4.TTF');
}
.teletext {
  font-family: teletext;
  font-size: 9px;
}
.teletext-excond {
  font-family: teletext-excond;
}
.teletext3 {
  font: "teletext3" 9px;
}
.teletext4 {
  font: "teletext4" 9px;
}
.teletext5 {
  font: "teletext5" 9px
}

body {
  max-width:1320px;
  height: 100%;
  margin: 0;
  background-color:black;
  font-family:'teletext';
  position:relative;
  margin-left:auto;
  margin-right:auto;

  color:white;
  
}


h1 {
  font-family: 'teletext-excond';
  font-size:50px
}
h2 {
  font-family: 'teletext-cond';
  font-size: 35px;
}
h1, h2, h3, h4, h5, h6 {font-weight: normal;}

main { 
  margin-left:6px;
  margin-right:6px;
  font-size: large;
}

.logoimage {
  width:87px;
}

header {
  background: rgb(0, 48, 78);
}

a {
  color:lightblue;
  cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAyCAYAAABLXmvvAAACCklEQVRYR+2UQUsCURDHZ12ioGv0FQoJE6yDJ+9+hchM9CB51UNXv4SBejHPQofOsQfxIHiqJPBgHiPxFFor9Z/FNV3X3HV3scMbGFzGee/35v9mnkQbMmlDXNoc+BtmsWpVkqQti7kr06T/Bu7hyO+GY49R8cnKUiwmmFacTCapVCoZt1AR8FbqbrdLiqJQLBYzwl1rxmnF7Xab6vU6JRIJDcbwfD5PtVqN+v0+h7gJfRaVXJk2BRcKBcpkMqSqrOivhcPhdqPRGCIyhrt/xwxOp9MkyzKVy+URZN6e4Bl4g8a6WlmGjYS5ihnMFolEKBqNfuVyOb2ZnhB+cBM+BReLxc9UKlUF4JLhfr+fqtUqBQKBkc/n4+q58hC8hwNol+7EpuBKpdKHvPvYbO6SW60WBYPBWUYS4IVZs3sIKRQKaU/mYDB46XQ6B/iU4XfwqF55PB4fZrPZncnmXfwqgC/Mmh04z6X+Vj/i+2iyOILfM3hKv3OeaX3UEGsCfGoHZMxdBtaKhfOdH8Ml7vaZUXMVfAvAuUkVz4gdzsT5Db+HO5aaO5XtDf5qAubKryfS638zfM+p1FbW851fwLVRg33Ad60sXJZj59HnbtdHrYlvx83l5OBrr7VT8doQs4UC7Kqcf20mpBZSe6aAaC7PpDVuLKQWUnumgGguz6QVcyyaSzSXZwpsrLl+ABiXqDO3bLHXAAAAAElFTkSuQmCC"), pointer;
}

a:visited {
  color:lightskyblue;
}

a:hover {
  color:white;
  
}

li {
  list-style-type: ">> ";
}

html {background-color: black;}