p {
  font-family:"teletext";
  color:white;
  
  
}
@font-face {
  font-family:teletext;
  src: url('/fonts/Teletext50.otf');
}
@font-face {
  font-family: teletext-excond;
  src: url('/fonts/Teletext50-extracondensed.otf');
}
@font-face {
  font-family: teletext-cond;
  src: url('/fonts/Teletext50-condensed.otf');
}
@font-face {
  font-family: teletext-semicond;
  src: url('/fonts/Teletext50-semicondensed.otf');
}
@font-face {
  font-family: teletext-wide;
  src: url('/fonts/Teletext50-extended.otf');
}
@font-face {
  font-family:teletext1;
  src: url('/fonts/MODE7GX0.TTF');
}
@font-face {
  font-family: teletext2;
  src: url('/fonts/MODE7GX1.TTF');
}
@font-face {
  font-family: teletext3;
  src: url('/fonts/MODE7GX2.TTF');
}
@font-face {
  font-family: teletext4;
  src: url('/fonts/MODE7GX3.TTF');
}
@font-face {
  font-family: teletext5;
  src: url('/fonts/MODE7GX4.TTF');
}
.teletext {
  font: "teletext" 9px;
}
.teletext-excond {
  font: "teletext-excondense";
}
.teletext3 {
  font: "teletext3" 9px;
}
.teletext4 {
  font: "teletext4" 9px;
}
.teletext5 {
  font: "teletext5" 9px
}

body {
  max-width:1320px;
  height: 100%;
  margin: 0;
  background-color:black;
  font-family:'teletext';
  position:relative;
  margin-left:auto;
  margin-right:auto;

  color:white;
  
}


h1 {
  font-family: 'teletext-excond';
  font-size:50px
}
h2 {
  font-family: 'teletext-cond';
  font-size: 35px;
}
h1, h2, h3, h4, h5, h6 {font-weight: normal;}

main { 
  margin-left:6px;
  margin-right:6px;
  font-size: large;
}

.logoimage {
  width:87px;
}

header {
  background: rgb(0, 48, 78);
}

a {
  color:lightblue;
  cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAyCAYAAABLXmvvAAABV0lEQVRYR+2VsWrCUBSGvYhDn0RwCmhnx75EcSguRV/A2ZdoC46dfYXi4CSULsW1Ooo+gcH+B27gGhPy6wlG8AQOCeQ/57//d3OJq1V0uYp8a9UZH3CRqffOuQapLZS5WzNeY8nb1LJjJO4URiEFeYn7MJmQMy6S5Rn/YdoM5r2LphJNofES+jnqxfeJ+Rg1xQJ2xKyzJKHxGzqHqH1qQgTjn7OmEuIjYxi84iuvo+8jSB7j+R3vBsQ8WnJiLJ0w7+L2hBr5Sb+4f5VpnmnszVu4f6KaqAeUJG+j1mXsea5xwgzpv/EcBQxLOWpiLCnk2iDJKr1JeC/JnwPspRw16ifh91zOdHLUFljkI/0lZQgpY7/n8rUnR+16xpp0Wb10YjPWEjDUWoJ0v6GmUWmFhlpLkO431DQqrdBQawnS/YaaRqUVGmotQbrfUNOotEJDrSVI998f6n+/e20zGpntHAAAAABJRU5ErkJggg=="), pointer;
}

a:visited {
  color:lightskyblue;
}

a:hover {
  color:white;
  
}

li {
  list-style-type: ">> ";
}

html {background-color: black;}